<config>
	<vfs>
		<dir name="dev">
			<dir name="pipe"> <pipe/> </dir>
			<log/><gpu/>
			<inline name="rtc">2018-01-01 00:01</inline>
		</dir>
		<tar name="qt5_dejavusans.tar"/>
		<tar name="qt5_libqgenode.tar"/>
		<tar name="qt5_declarative_qml.tar"/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" pipe="/dev/pipe" rtc="/dev/rtc"/>
</config>
