<config verbose="yes">

	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Audio_out"/>
		<service name="Audio_in"/>
		<service name="Gui"/>
		<service name="Timer"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="terminal" caps="110">
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="Terminal"/> </provides>
		<route>
			<service name="ROM" label="config">
				<parent label="terminal.config"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="linphonec" caps="800">
		<resource name="RAM" quantum="128M"/>
		<route>
			<service name="Terminal"> <child name="terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
		<config ld_verbose="true">

			<env key="HOME" value="/"/>

			<arg value="linphonec"/>
			<arg value="-b"/>
			<arg value="factory.settings"/>

			<libc stdin="/dev/terminal" stdout="/dev/terminal" stderr="/dev/log"
			      rtc="/dev/rtc" socket="/socket" pipe="/pipe" rng="/dev/random"/>

			<vfs>
				<dir name="dev">
						<log/><null/><inline name="rtc">2000-01-01 00:00</inline>
						<jitterentropy name="random"/>
						<oss name="dsp"/>
						<terminal/>
				</dir>
				<dir name="pipe"> <pipe/> </dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
				<dir name=".local">
					<dir name="share">
						<dir name="linphone">
							<ram/>
						</dir>
					</dir>
				</dir>
				<rom name="factory.settings"/>
				<ram/>
			</vfs>
		</config>
	</start>

</config>
