<config verbose="yes">

	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Audio_out"/>
		<service name="Audio_in"/>
		<service name="Timer"/>
		<service name="Nic"/>
		<service name="Terminal"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="linphonec" caps="800">
		<resource name="RAM" quantum="128M"/>
		<route>
			<service name="ROM" label="libmbedtls.lib.so.19">    <parent label="libmbedtls.lib.so.3.4.0"/>    </service>
			<service name="ROM" label="libmbedx509.lib.so.5">    <parent label="libmbedx509.lib.so.3.4.0"/>   </service>
			<service name="ROM" label="libmbedcrypto.lib.so.14"> <parent label="libmbedcrypto.lib.so.3.4.0"/> </service>
			<service name="ROM" label="libopus.lib.so.0">        <parent label="libopus.lib.so.0.8.0"/>       </service>
			<service name="ROM" label="libz.lib.so.1">           <parent label="libz.lib.so.1.2.13"/>          </service>
			<service name="Terminal"> <parent/> </service>
			<any-service> <parent/> </any-service>
		</route>
		<config ld_verbose="true">

			<env key="HOME" value="/"/>

			<arg value="linphonec"/>
			<arg value="-b"/>
			<arg value="factory.settings"/>
			<arg value="-l"/>
			<arg value="3"/>

			<libc stdin="/dev/terminal" stdout="/dev/terminal" stderr="/dev/log"
			      rtc="/dev/rtc" socket="/socket" pipe="/pipe" rng="/dev/random"/>

			<vfs>
				<dir name="dev">
						<log/><null/><inline name="rtc">2000-01-01 00:00</inline>
						<jitterentropy name="random"/>
						<oss name="dsp"/>
						<terminal/>
				</dir>
				<dir name="pipe"> <pipe/> </dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
				<dir name=".local">
					<dir name="share">
						<dir name="linphone">
							<ram/>
						</dir>
					</dir>
				</dir>
				<dir name="share">
					<tar name="share-belr.tar"/>
				</dir>
				<rom name="factory.settings"/>
				<rom name="hello8000.wav"/>
				<rom name="hello44100.wav"/>
				<ram/>
			</vfs>
		</config>
	</start>

</config>
